{% extends 'orders/layout.html' %}

{% block title %}
    Receipt
{% endblock title %}

{% block content %}
    <center>
        <h1>
            Your Transaction
        </h1>
    </center>
<div class="container">
    {% if pizzas %}
    <h3>Pizzas</h3>
    <table width="100%" border="black solid 1px">
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Size
            </th>
            <th>
                Toppings
            </th>
            <th>
                Price
            </th>
        </tr>
        {% for i in pizzas %}
        <tr>
            <td>
                {{ i.pizza.type }}
            </td>
            <td>
                {{ i.pizza.subtype }}
            </td>
            <td>
                {{ i.pizza.size }}
            </td>
            <td>
                <ul>
                {% for j in i.order_toppings.all %}
                    <li>{{ j.topping.name }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                {{ i.pizza.price }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if subs %}
    <h3>Subs and Platters</h3>
    <table width="100%" border="black solid 1px">
        <tr>
            <th>
                Name
            </th>
            <th>
                Size
            </th>
            <th>
                Price
            </th>
        </tr>
        {% for i in subs %}
        <tr>
            <td>
                {{ i.subs.name }}
            </td>
            <td>
                {{ i.subs.size }}
            </td>
            <td>
                {{ i.subs.price }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if salads %}
    <h3>Salads and Pastas</h3>
    <table width="100%" border="black solid 1px">
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
        </tr>
        {% for i in salads %}
        <tr>
            <td>
                {{ i.salads.name }}
            </td>
            <td>
                {{ i.salads.price }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <center>
        <h2>
            Total Price
        </h2>
        <h4>
            {{ total }}
        </h4>
    </center>
    <center>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <button id="main" name="main" type="submit" class="btn btn-dark">
                Done
            </button>
        </form>
    </center>
</div>
{% endblock content %}