{% extends "orders/layout.html" %}

{% block content %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-2">

            </div>
            <div class="col-lg-8">
                <label>Username</label>
                <input type="text" class="form-control form-control-lg" name="username">
                <div class="row">
                    <div class="col-6">
                        <label>Firstname</label>
                        <input type="text" class="form-control form-control-lg" name="first_name">
                    </div>
                    <div class="col-6">
                        <label>Lastname</label>
                        <input type="text" class="form-control form-control-lg" name="last_name">
                    </div>
                </div>
                <label>Email</label>
                <input type="email" class="form-control form-control-lg" name="email">
                <label>Password</label>
                <input type="password" class="form-control form-control-lg" name="password">
                <label>Confirm Password</label>
                <input type="password" class="form-control form-control-lg" name="confirm_password">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </form>
{% endblock content %}