{% extends 'orders/layout.html' %}

{% block scripts %}
<script src="static/orders/index.js">

</script>
{% endblock scripts %}

{% block style %}
    td {
        padding: 2px;
    }
{% endblock style %}

{% block content %}
<div class="container">
    <h1>Shop Now</h1>
        <center><h2>Pizza</h2></center>
    <div class="row">
        <div class="col-lg-6">
            <h4>Regular</h4>
            <table style="border: 2px solid black; width: 100%">
    <tr>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
    </tr>
    {% for i in pizzas %}
        {% if i.type == "Regular" %}
    <tr>
        {% if i.subtype == "1T" %}
        <td>1 Topping</td>
        {% endif %}
        {% if i.subtype == "2T" %}
        <td>2 Toppings</td>
        {% endif %}
        {% if i.subtype == "3T" %}
        <td>3 Toppings</td>
        {% endif %}
        {% if i.subtype == "SP" %}
        <td>Special</td>
        {% endif %}
        {% if i.subtype == "Cheese" %}
        <td>Cheese</td>
        {% endif %}
        <td>{{ i.size }}</td>
        <td class="price">{{ i.price }}</td>
        <td><button value="{{ i.id }}" class="list_item btn btn-small btn-primary">Add to cart</button></td>
    </tr>
        {% endif %}
    {% endfor %}
    </table>
        </div>
        <div class="col-lg-6">
            <h4>Sicilian</h4>
    <table style="border: 2px solid black; width: 100%">
    <tr>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
    </tr>
    {% for i in pizzas %}
        {% if i.type == "Sicilian" %}
    <tr>
        {% if i.subtype == "1T" %}
        <td>1 Topping</td>
        {% endif %}
        {% if i.subtype == "2T" %}
        <td>2 Toppings</td>
        {% endif %}
        {% if i.subtype == "3T" %}
        <td>3 Toppings</td>
        {% endif %}
        {% if i.subtype == "SP" %}
        <td>Special</td>
        {% endif %}
        {% if i.subtype == "Cheese" %}
        <td>Cheese</td>
        {% endif %}
        <td>{{ i.size }}</td>
        <td class="price">{{ i.price }}</td>
        <td><button value="{{ i.id }}" class="list_item btn btn-small btn-primary">Add to cart</button></td>
    </tr>
        {% endif %}
    {% endfor %}
    </table>
    </div>
</div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Salads and Pasta</h4>
    <table style="border: 2px solid black; width: 100%">
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    {% for i in salads %}
    <tr>
        <td>{{ i.name }}</td>
        <td class="price">{{ i.price }}</td>
        <td><button value="P||{{ i.id }}" class="list_item btn btn-small btn-primary">Add to cart</button></td>
    </tr>
    {% endfor %}
    </table>
        </div>
        <div class="col-lg-6">
            <h4>Subs and Platters</h4>
    <table style="border: 2px solid black; width: 100%">
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Price</th>
    </tr>
    {% for i in subs %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.size }}</td>
        <td class="price">{{ i.price }}</td>
        <td><button value="S||{{ i.id }}" class="list_item btn btn-small btn-primary">Add to cart</button></td>
    </tr>
    {% endfor %}
    </table>
    </div>
    </div>
    <div class="row">
            <div class="col-6">
            <h5>Total Price</h5>
            <div id="total_price">
                0
            </div>
            </div>
            <div class="col-6">
                <form action="{% url 'shopping_list' %}" method="post">
                    {% csrf_token %}>
    <button name="main" id="main" class="btn btn-dark mt-4" type="submit">
        Proceed
    </button>
                </form>
            </div>
        </div>
</div>
{% endblock content %}