{% extends 'orders/layout.html' %}

{% block content %}
<div class="container">
    <h2>Add Toppings of your choice</h2>
    <ul>
        {% for i in pizzas %}
        {% if i.subtype == "Cheese" or i.subtype == "SP" %}
        {% else %}
        {% if i.subtype == "1T" %}
        <div class="row">
        <li class="col-6">{{ i.type }} -- {{ i.subtype }} -- {{ i.size }}</li>
            <select class="col-6 form-control">
                {% for i in toppings %}
                <option>
                    {{ i.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        {% if i.subtype == "2T" %}
        <div class="row">
        <li class="col-6">{{ i.type }} -- {{ i.subtype }} -- {{ i.size }}</li>
            <select class="col-3 form-control">
                {% for i in toppings %}
                <option>
                    {{ i.name }}
                </option>
                {% endfor %}
            </select>
            <select class="col-3 form-control">
                {% for i in toppings %}
                <option>
                    {{ i.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        {% if i.subtype == "3T" %}
        <div class="row">
        <li class="col-6">{{ i.type }} -- {{ i.subtype }} -- {{ i.size }}</li>
            <select class="col-2 form-control">
                {% for i in toppings %}
                <option>
                    {{ i.name }}
                </option>
                {% endfor %}
            </select>
            <select class="col-2 form-control">
                {% for i in toppings %}
                <option>
                    {{ i.name }}
                </option>
                {% endfor %}
            </select>
            <select class="col-2 form-control">
                {% for i in toppings %}
                <option>
                    {{ i.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}