{% extends 'orders/layout.html' %}

{% block title %}
    Add Toppings
{% endblock title %}

{% block scripts %}
<script src="static/orders/toppings.js">

</script>
{% endblock scripts %}

{% block content %}
<div class="container">
    <h2>Add Toppings of your choice</h2>
    <ul>
        {% for i in pizzas %}
        {% if i.subtype == "Cheese" or i.subtype == "SP" %}
        {% else %}
        {% if i.subtype == "1T" %}
        <div class="row">
        <li class="col-6">{{ i.type }} -- {{ i.subtype }} -- {{ i.size }}</li>
            <select class="col-6 form-control">
                <option value="{{ i.id }}||None">
                    None
                </option>
                {% for j in toppings %}
                <option value="{{ i.id }}||{{ j.id }}" id="{{ j.id }}">
                    {{ j.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        {% if i.subtype == "2T" %}
        <div class="row">
        <li class="col-6">{{ i.type }} -- {{ i.subtype }} -- {{ i.size }}</li>
            <select class="col-3 form-control">
                <option value="{{ i.id }}||None">
                    None
                </option>
                {% for j in toppings %}
                <option value="{{ i.id }}||{{ j.id }}" id="{{ j.id }}">
                    {{ j.name }}
                </option>
                {% endfor %}
            </select>
            <select class="col-3 form-control">
                <option value="{{ i.id }}||None">
                    None
                </option>
                {% for j in toppings %}
                <option value="{{ i.id }}||{{ j.id }}" id="{{ j.id }}">
                    {{ j.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        {% if i.subtype == "3T" %}
        <div class="row">
        <li class="col-6">{{ i.type }} -- {{ i.subtype }} -- {{ i.size }}</li>
            <select class="col-2 form-control">
                <option value="{{ i.id }}||None">
                    None
                </option>
                {% for j in toppings %}
                <option value="{{ i.id }}||{{ j.id }}" id="{{ j.id }}">
                    {{ j.name }}
                </option>
                {% endfor %}
            </select>
            <select class="col-2 form-control">
                <option value="{{ i.id }}||None">
                    None
                </option>
                {% for j in toppings %}
                <option value="{{ i.id }}||{{ j.id }}" id="{{ j.id }}">
                    {{ j.name }}
                </option>
                {% endfor %}
            </select>
            <select class="col-2 form-control">
                <option value="{{ i.id }}||None">
                    None
                </option>
                {% for j in toppings %}
                <option value="{{ i.id }}||{{ j.id }}" id="{{ j.id }}">
                    {{ j.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
    <center>
        <form action="{% url 'toppings' %}" method="post">
            {% csrf_token %}
        <button class="btn btn-dark" id="main" name="main" type="submit">
            Proceed
        </button>
            </form>
    </center>
</div>
{% endblock content %}